.DS_Store
App/venv
App/speedy7/speedy7/__pycache__
App/speedy7/core/__pycache__
App/speedy7/db.sqlite3
App/speedy7/core/migrations/*
!App/speedy7/core/migrations/__init__.py
App/speedy7/core/__pycache__
App/.vscode