@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
body {
    background: rgb(24,24,65);
    background: linear-gradient(0deg, rgba(24,24,65,1) 0%, rgba(29,29,66,1) 58%, rgba(29,29,66,1) 100%);font-size: calc(0.24vh + 0.32vw + 6px);
    min-height: 100vh;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Sono', sans-serif; */
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/79/Operation_Upshot-Knothole_-_Badger_001.jpg"); */
}
.submenu {
    width: 100%;
}
.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #101024;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    border-bottom: 2px solid #49e68a;
    box-shadow:
    0px 5.7px 2.3px rgba(0, 0, 0, 0.048),
    0px 12.4px 5.5px rgba(0, 0, 0, 0.056),
    0px 21.2px 10.4px rgba(0, 0, 0, 0.063),
    0px 34.4px 18.5px rgba(0, 0, 0, 0.071),
    0px 58.2px 34.7px rgba(0, 0, 0, 0.079),
    0px 125px 83px rgba(0, 0, 0, 0.09);
    
    
}
  
.submenu li {
    float: left;
}

.submenu li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.submenu li a:hover {
    /* background-color: rgb(0, 0, 0); */
    transform: scale(1.1) translate(0.12rem, 0rem);
    transition: 0.3s;
}

.active {
    background-color: #04AA6D;
}
  
  /* On mouse-over, add a deeper shadow */
.container:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    font-size: smaller;
    border-radius: 0.4rem;
    text-align: center;
    width: 80vw;
    height: 40vw;
    padding: 1.8rem 2.4rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: grid; 
    transition: 480ms cubic-bezier(0.04, 1.15, 0.41, 0.93) background 0ms;
    margin: 1.2rem auto;
    background-color: #11112c;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "Logs Logs Logs"
      "Logs Logs Logs"
      ". . ."; 
}
.Logs { grid-area: Logs; }

table {
    color: white;
    background: #343A40;
    /* background: rgb(98,0,255); */
    /* background: linear-gradient(90deg, rgba(98,0,255,0.5) 0%, rgba(231,0,255,1) 100%); */
}

.header2 {
    color: #ffffff;
    background: rgb(64, 46, 105);
    /* background: rgb(198, 173, 255); */
    /* background: linear-gradient(90deg, rgba(134,83,255,1) 0%, rgba(180,106,241,1) 100%); */
    /* background: linear-gradient(90deg, rgb(61, 61, 61) 0%, rgb(154, 153, 155) 100%); */
  
}
