{% extends 'speedy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load activityfilter %}

{%block title%}Dashboard{%endblock%}
{% block content %}
    {% csrf_token %}
    {% include 'speedy/menu.html' %}
    
    <script>
          function myFunction(){
            // Declare variables 
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
          
            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td") ; 
              for(j=0 ; j<td.length ; j++)
              {
                let tdata = td[j] ;
                if (tdata) {
                  if (tdata.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    break ; 
                  } else {
                    tr[i].style.display = "none";
                  }
                } 
              }
            }
          }
    </script> 

    <div class="search_container">
      <form method="get">
        <select name="host">
          <option></option>
          {% for host in hosts %}
          <option value="{{host}}">{{host}}</option>
          {% endfor %}
        </select>
        <select name="facility">
          <option></option>
          {% for facility in facilities %}
          <option value="{{facility}}">{{facility}}</option>
          {% endfor %}
        </select>   
        <select id="time">
          <option value=""></option>
          <option value="15">Last 15 minutes</option>
          <option value="30">Last 30 minutes</option>
          <option value="240">Last 4 hours</option>
        </select>   
        <button class="btn btn-danger" type="submit">Submit</button>
      </form>
        
        <input type="text" id="myInput" class="input-text-log" onkeyup="myFunction()" placeholder="Search">
    </div>

    <div class="container" id="logs">
            <table class="tab sortable">
                <thead>
                    <tr class="header2">
                        <td>PID</td>
                        <td>Message</td>
                        <td>Program</td>
                        <td>Facility</td>
                        <td>Host</td>
                        <td>Level</td>
                        <td>Timestamp</td>
                    </tr>
                </thead>

                <tbody id="myTable">
                    {% for log in all_logs %}
                        <tr>
                            <td>{{log.pid}}</td>
                            <td>{{log.message}}</td>
                            <td>{{log.program}}</td>
                            <td>{{log.facility}}</td>
                            <td>{{log.host}}</td>
                            <td>{{log.level}}</td>
                            <td>{{log.datetime}}</td>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
    </div>

    <div class="graphs">
      <div class="card1"> <h4>Events based on facility</h4> <canvas id="barChart"></canvas></div>
      
      <div class="card2"> <canvas id="timeChart"> </canvas></div>
    </div>

    <div class="graphs2">
      <div class="card3">
        
        <h3>Incidents</h3> 
        <table class="tab sortable">
          <thead>
              <tr class="header2">
                  <td>Urgency</td>
                  <td>Host</td>
                  <td>Facility</td>
                  <td>Message</td>
              </tr>
          </thead>

          <tbody id="myTable">
              {% for inc in incidents %}
             
                  <tr>
                  {% comment %} <tr style="background-color: {% if inc.level == 'local0' %}#a1070275{% elif inc.level == 'local1' %}#610f7f49{% elif inc.level == 'local2' %}#ec9b2973{% elif inc.level == 'local3' %}#ec9b2973{% endif %}"> {% endcomment %}
                    {% comment %} add href to full, and create asset view {% endcomment %}
                      <td>{% if inc.level == 'local0' %}!!!!{% elif inc.level == 'local1' %}!!!{% elif inc.level == 'local2' %}!!{% elif inc.level == 'local3' %}!{% endif %}</td>
                      <td>{{inc.host}}</td>
                      <td>{{inc.facility}}</td>
                      <td>{{inc.message}}</td>
                     
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>


      <div class="card4"> </div>
      <div class="card5"> 
        <h3>Last active host</h3>
        <table class="tab sortable">
          <thead>
              <tr class="header2">
                  {% comment %} <td></td> {% endcomment %}
                  <td>Name</td>
                  <td>IP</td>
                  <td>Last activity</td>
              </tr>
          </thead>
          <tbody id="myTable">
              {% for host,log in last_activity_dict.items %}
                  <tr>
                      {% comment %} <td>{% if log.datetime|activityfilter:10 %}<h5>inactive for less than 10 minutes</h5>{% elif log.datetime|activityfilter:120 %}<h5>inactive for less than 2 hours</h5>{% elif log.datetime|activityfilter:240 %}<h5>inactive for less than 4 hours</h5>{% else %}<h10>inactive for more than 4 hours</h10>{% endif %}</td> {% endcomment %}
                      <td>{% if log.datetime|activityfilter:10 %}<span>&#128994;</span>{% elif log.datetime|activityfilter:120 %}<span>&#128993;</span>{% else %}<span>&#128308;</span>{% endif %}{{host}}</td>
                      <td>{{log.pid}}</td>
                      <td>{{log.datetime|timesince}} ago</td>
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/moment@^2"></script>
    <script src="{% static 'chart.js' %}"></script>
    <script>
      const barChart = document.getElementById('barChart');
    
      new Chart(barChart, {
        type: 'bar',
        data: {
          labels: [{% for facility,value in fac_counter_dict.items %} "{{facility}}", {% endfor %}],
          datasets: [{
            label: '',
            backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
            data: [{% for facility,value in fac_counter_dict.items %} "{{value}}", {% endfor %}],
            borderWidth: 1
          }]
        },
        options: {
          legend: { display: false },
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }

      });
    </script>

    <script>

      const timeChart = document.getElementById('timeChart');
      const labels = [];
      const data = {
          labels: labels,
          datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
          }]
        };

      const config = {
        type: 'line',
        data: data,
      };

      const options = {
        scales: {
          x: {
            type: ''
          }
        }

      }

      new Chart(timeChart, 
        config);

    </script>
    

{% comment %} <script type="text/javascript"> 
    window.onload = function() {
        if (window.jQuery) {
            alert('jQuery is loaded');
        } else {
            alert('jQuery is not loaded');
        }
    }
</script> {% endcomment %}

{% endblock %}



