{% extends 'speedy/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{%block title%}Help{%endblock%}
{% block content %}
{% include 'speedy/menu.html' %}

    <div class="container">
        <h1>HELP</h1>
    <p>Speedy7 is an web application monitoring assets with syslog-ng use. 
    You can easily modify configuration using this tab which will be created, remember to do it
    otherwise it ll be shitty. Shared volume and one folder or file inside speedy7, this would be really cool sh*t</p>
    </div>
{% endblock %}