<div id="menu">
    <div class="submenu">
        <ul>
            <li><a href="{% url 'speedy:loginPage' %}">Home</a></li>
            <li><a href="{% url 'speedy:dashboard' %}">Dashboard</a></li>
            <li><a href="">Users</a></li>
            <li><a href="">Help</a></li>
            <li style="float:right"><a href="{% url 'speedy:logoutUser' %}">Logout</a></li>
            <li style="float:right"><a>{{request.user}}</a></li>
        </ul>   
        {% comment %} {% for link in menu.links %}
        <a
        href="{{link.url}}"
        {% if link.new_window %}target="_blank"{% endif %}
        class="item{% if link.current|default:"" %} current{% endif %}{% if link.active %} active{% endif %}">{{ link.name }}</a>
        {% endfor %} {% endcomment %}
    </div>
    {% comment %} {% if menu.submenu.links %}
        {% include 'dashboard/submenu.html' with submenu=menu.submenu %}
    {% endif %} {% endcomment %}
</div>
