<div id="menu">
    <div class="submenu">
        <ul>
            <li><a href="{% url 'speedy:dashboard' %}">Home</a></li>
            {% if request.user.is_superuser %}
                <li><a href="{% url 'speedy:users' %}">Users</a></li>
            {% endif %}
            <li><a href="{% url 'speedy:assets' %}">Assets</a></li>
            {% comment %} <li><a href="">Connector</a></li> {% endcomment %}
            <li><a href="{% url 'speedy:help' %}">Help</a></li>
            <li style="float:right"><a href="{% url 'speedy:logoutUser' %}">Logout</a></li>
            {% if request.user.is_superuser %}
                <li style="float:right"><a href="{% url 'speedy:changePass' %}">Change password</a></li>
            {% endif %}
            <li style="float:right"><a href="{% url 'speedy:userView' %}">You are logged as {{request.user}}</a></li>
        </ul>     
    </div>
</div>
